:root {
  --blue: #2a3663;
  --gold: #ac8435;
  --white1: #ebe1d0;
  --white2: #d6c9b3;
  --light-creme: #f7f2e9;
  --lightgrey: #9b968f;
  --black1: #2b292b;
  --black2: #403c34;
  --titleFont: "Cinzel Decorative", serif;
  --txt: "Gabarito", serif;
}